body{background-color:#8e48d0;
font-family: Arial, Helvetica, sans-serif;}
a{color:#2b163f;}
.container{
    margin: 120px auto;
    max-width: 600px;}
h1{
    text-align: center;
    font-weight: 600;
    font-size: 45px;
    line-height: 1.5;
    color:black;}
    
.form-container{    
    border-radius: 5px;
    padding: 20px;
    background-color:#de34d9;}
    
form{
        display:flex;
    }
    

.instructions{
    
    border-radius: 25px;
    padding: 20px;
    border: 1px;
    width:80%;
    font-size: 16px;
    line-height:15px;
    color:rgb(8, 8, 8);

}
.submit-btn{
    border-radius: 25px;
    border:none;
    font-size: 20px;
    margin-left:20px;
    width:120px;
    background:#b579e9;
    color:black;
    padding: 15px 15px;
}
.poem{
    margin-top: 30px;
    border-left: 3px solid #ffff;
    font-size: 20px;
    color:#c9c9c9;
    background-color: #de34d9;
    padding:10px;
    line-height:2;
}



.hidden {
    display:none;
}
footer{
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}
.blink {
    animation: blink-animation 1s steps(3, start) infinite;
  }
  
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }